<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>HOME PAGE</h1>
    <form action="/" enctype="multipart/form-data" method="post">
        <label for="name">name
            <input type="text" name="name" id="name">
        </label>
        <br>
        <label for="email">email
            <input type="email" name="email" id="email">
        </label>
        <br>
        <label for="password">password
            <input type="password" name="password" id="password">
        </label>
        <label for="file">file
            <input type="file" name="fileupload" id="file">
        </label>
        
        <button type="submit">login</button>
    </form>
    
</body>
</html>