<h1>CREATE PAGE</h1>
    {{#each users}}
    <form action="/create" method="post">
        <label for="name">author's name
            <input type="text" name="author" id="" value="{{_id}}">
        </label>
        <br>
        <label for="email">blog write-up
           <textarea name="body" id="" cols="30" rows="10"></textarea>
        </label>
        <br>
        <label for="password">title
            <input type="text" name="title" id="">
        </label>
        <button type="submit">publish</button>
    </form>
    {{/each}}